developed by Patricia Klinger, modified by Sebastian Gampe, Kerim Gencer, Chrisowalandis Deligio

In [46]:
import sys
sys.path.append('../')
import pandas as pd
import random
import os
import numpy as np
from cnt.model import (DesignEstimator, RelationExtractor, save_pipeline, load_pipeline, predict_re_single_sentence, 
relations_from_adjectives_df, relations_from_adjectives_single, concat_relations)
from cnt.annotate import (annotate, annotate_single_design, 
                          annotate_designs, 
                          extract_string_from_annotation, labeling_eng)
from cnt.extract_relation import (path, NERTransformer, FeatureExtractor)
from cnt.evaluate import Metrics
from cnt.vectorize import (Doc2Str, Path2Str, Verbs2Str, AveragedPath2Vec, 
                           AveragedRest2Vec)
from cnt.io import (replace_left_right)
from cnt.io import  Database_Connection
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline, make_union
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Normalizer
from sklearn.naive_bayes import MultinomialNB
from itertools import product
import warnings
warnings.filterwarnings('ignore')

### Define the column names for the id and design column

In [47]:
id_col = "design_id"
design_col = "design_en"

In [48]:
dc =  Database_Connection("mysql+mysqlconnector://root:YourConnection") # Format user:password@IP/Database

## Old

### Load yaml file with annotated data

In [50]:
import yaml
import_path = "../data/English_RE_data.yaml"
with open(import_path, encoding='utf8') as f:
    dictionary = yaml.safe_load(f)
    d = {replace_left_right(key): value for key, value in dictionary.items()}

In [51]:
relation_counts = {}
labels = []
for sentence, relations in d.items():
    for rel in relations:
        rel_name = rel[1]
        if rel_name not in relation_counts:
            relation_counts[rel_name] = 1
        else:
            relation_counts[rel_name] += 1

sorted(relation_counts.items(), key= lambda x: (-x[1], x[0]))

[('holding', 1113),
 ('wearing', 781),
 ('resting_on', 238),
 ('seated_on', 88),
 ('grasping', 36),
 ('standing', 36),
 ('crowning', 14),
 ('feeding', 10),
 ('coiling', 7),
 ('breaking', 4),
 ('pushing', 3),
 ('flying_over', 2),
 ('receiving', 2),
 ('escorted_by', 1)]

## Old

In [52]:
language = "_en"
add_columns = ["id", "name"+language, "alternativenames"+language]

In [53]:
entities = {
    "PERSON": dc.load_entities_from_db("nlp_list_person", ["name", "alternativenames"], ["alternativenames"], ",", True),
    "OBJECT": dc.load_entities_from_db("nlp_list_obj", add_columns, [add_columns[1]], ",", True),
    "ANIMAL": dc.load_entities_from_db("nlp_list_animal", add_columns, [add_columns[1]], ",", True),
    "PLANT": dc.load_entities_from_db("nlp_list_plant", add_columns, [add_columns[1]], ",", True)}

In [54]:
X_list, y_list = labeling_eng(d, entities)

In [55]:
X = pd.DataFrame({design_col: X_list, "y" : y_list})

In [56]:
X.shape

(1029, 2)

In [57]:
X[id_col] = X.index

## New

In [58]:
train = dc.create_own_query("""select design_id, 
(select design_en from nlp_training_designs as nlp where re.design_id=nlp.id) as design_en,
subject_str as s, 
(select class from nlp_list_entities as ner where ner.id=re.subject) as subject_class, 
predicate_str as p, 
object_str as o, 
(select class from nlp_list_entities as ner where ner.id=re.object) as object_class
from nlp_relation_extraction_en_v2 as re;""")

In [59]:
train.head(5)

,design_id,design_en,s,subject_class,p,o,object_class
0,9,Amphora with ribbed surface and crooked handle...,Amphora,OBJECT,holding,poppy,PLANT
1,33,"Half-nude Aphrodite standing facing, head left...",Aphrodite,PERSON,holding,apple,PLANT
2,36,"Nude Aphrodite standing facing, head right, co...",Eros,PERSON,seated_on,dolphin,ANIMAL
3,85,"Nude Apollo standing facing, head left, left l...",Apollo,PERSON,holding,patera,OBJECT
4,85,"Nude Apollo standing facing, head left, left l...",serpent,OBJECT,coiling,omphalos,OBJECT

In [60]:
train.p.value_counts()

holding        1009
wearing         805
resting_on      253
seated_on       130
receiving        41
standing         33
grasping         32
feeding          30
crowning         10
coiling           7
breaking          4
flying_over       2
escorted_by       1
Name: p, dtype: int64

In [61]:
train["y"] = train.apply(lambda row: [(row.s, row.subject_class, row.p, row.o, row.object_class)], axis=1)

In [62]:
train.head(2)

,design_id,design_en,s,subject_class,p,o,object_class,y
0,9,Amphora with ribbed surface and crooked handle...,Amphora,OBJECT,holding,poppy,PLANT,"[(Amphora, OBJECT, holding, poppy, PLANT)]"
1,33,"Half-nude Aphrodite standing facing, head left...",Aphrodite,PERSON,holding,apple,PLANT,"[(Aphrodite, PERSON, holding, apple, PLANT)]"

In [63]:
tmp = train.groupby("design_id").agg({"y": "sum"})

In [64]:
tmp.loc[tmp.index==1706].style

In [65]:
X = train.drop_duplicates("design_id",keep="first")

In [66]:
X = X.merge(tmp, left_on="design_id", right_on="design_id", suffixes=('', 'y'))

In [67]:
X = X[["design_id", "design_en", "yy"]].rename(columns={"yy":"y"})

In [68]:
X["design_en_changed"] = ""

In [69]:
X.shape

(1297, 4)

def get_id(design):
    try:
        return dc.create_own_query("select id from nlp_training_designs where design_en='"+design+"';").id.item()
    except:
        return "Null"

%%capture
X["db_id"] = X.apply(lambda row: get_id(row.design_en), axis=1)

X.shape

In [70]:
X.head(5).style

In [71]:
X.tail(5).style

### Train the RE model

In [72]:
classifier = LogisticRegression(max_iter=1000)
string_converter = Path2Str(pos=True) 
vectorizer = CountVectorizer(ngram_range=(1,3))
feature = make_pipeline(string_converter, vectorizer)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X[[id_col, design_col]], X[[id_col, "y"]], test_size=0.25, random_state=33)

#### load pretrained NER-Model

In [74]:
ner_model_directory = "../cnt/trained_model/ner/english/"
ner_model_name = "english_cno"

#### define RE-Model path

In [75]:
re_model_directory = "../cnt/trained_model/re/"
re_model_name = "english_cno"

In [76]:
inner_pipeline = make_pipeline(feature, classifier)
pipeline = make_pipeline(NERTransformer(ner_model_directory, ner_model_name, id_col, design_col),
                         FeatureExtractor(ner_model_directory, ner_model_name, id_col, design_col),
                         RelationExtractor(inner_pipeline, re_model_directory, re_model_name, id_col))
pipeline.fit(X_train, y_train)

Pipeline(steps=[('nertransformer',
                 NERTransformer(design_col='design_en', id_col='design_id',
                                model_dir='../cnt/trained_model/ner/english/',
                                model_name='english_cno')),
                ('featureextractor',
                 FeatureExtractor(design_col='design_en', id_col='design_id',
                                  model_dir='../cnt/trained_model/ner/english/',
                                  model_name='english_cno')),
                ('relationextractor',
                 RelationExtractor(id_col='design_id', model_name='english_cno',
                                   output_dir='../cnt/trained_model/re/',
                                   pipeline=Pipeline(steps=[('pipeline',
                                                             Pipeline(steps=[('path2str',
                                                                              Path2Str(pos=True)),
                                                                             ('countvectorizer',
                                                                              CountVectorizer(ngram_range=(1,
                                                                                                           3)))])),
                                                            ('logisticregression',
                                                             LogisticRegression(max_iter=1000))])))])

## Save and Load model

In [77]:
save_pipeline(pipeline, re_model_directory, re_model_name)

In [78]:
model = load_pipeline(re_model_directory, re_model_name)

## Predict

In [79]:
y_pred = model.predict(X_test)

In [80]:
metrics = Metrics()

In [81]:
precision, recall = metrics.score_precision_recall(y_test, y_pred)
F1 = (2*precision*recall) / (precision + recall)

In [82]:
print("Precision", round(precision*100,2))
print("Recall", round(recall*100,2))
print("F1", round(F1*100,2))

Precision 84.29
Recall 74.45
F1 79.07

## Add auto annotation

In [38]:
obj_list = {
"veiled": ("wearing", "Veil", "before"),
"draped": ("wearing", "Clothing", "before"),
"helmeted": ("wearing", "Helmet", "before"),
"diademed": ("wearing", "Diadem", "before"),
"turreted": ("wearing", "Mural crown", "before"),
"enthroned": ("seated_on", "Throne", "after"),

}

In [39]:
y_pred["design_en"] = X_test.design_en

In [40]:
y_pred = relations_from_adjectives_df(y_pred, "design_en", "y", ner_model_directory, ner_model_name, id_col, design_col, obj_list, entities_to_consider=["PERSON"])

In [41]:
y_pred.head(5).style

## Prediction dataframe

In [42]:
pre_df = X_test.merge(y_pred, left_on=id_col, right_on =id_col, suffixes=["", "_y"])
pre_df = pre_df[["design_en", "y"]]

In [43]:
pre_df.head(10)

,design_en,y
0,"Radiate bust of Philippus II, right, wearing c...","[(Philippus II, PERSON, wearing, cuirass, OBJE..."
1,"At left, Demeter standing facing, head right, ...","[(Demeter, PERSON, wearing, wreath, OBJECT), (..."
2,"River god and city goddess; to left, river god...","[(River god, PERSON, holding, patera, OBJECT),..."
3,"Artemis advancing right, wearing short flutter...","[(Artemis, PERSON, wearing, chiton, OBJECT), (..."
4,Façade of a hexastyle temple on crepidoma with...,"[(Tyche, PERSON, wearing, kalathos, OBJECT)]"
5,"Hermes standing left, holding purse and caduceus.","[(Hermes, PERSON, holding, purse, OBJECT), (He..."
6,"Nude Zeus standing left, head right, cloak ove...","[(Zeus, PERSON, holding, thunderbolt, OBJECT)]"
7,"Athena standing facing, head left, wearing lon...","[(Athena, PERSON, wearing, garment, OBJECT), (..."
8,"Head of Artemis, right, wearing necklace and e...","[(Artemis, PERSON, wearing, necklace, OBJECT),..."
9,"Athena (Nikephoros) enthroned left, holding Ni...","[(Athena, PERSON, holding, Nike, PERSON), (Ath..."

## Upload to mysql

In [44]:
upload = False

In [45]:
if upload ==True:
    dc =  Database_Connection("mysql+mysqlconnector://YourConnection")
    cnt_designs = dc.load_designs_from_db("designs", ["DesignID", "DesignEng"])
    cnt_designs.rename(columns={"DesignEng":"Design"}, inplace=True) # if english
    cnt_pred = pipeline.predict(cnt_designs)
    cnt_pipeline_output = pd.DataFrame([(str(designid), *relation) for  _, (designid, relation_list) in cnt_pred.iterrows()
                    for relation in relation_list],
            columns=["DesignID", "Person", "Label_Person", "Relation", "Object",
                     "Label_Object"])
    cnt_pipeline_output.to_sql("CNO.cnt_pipeline_output",dc.mysql_connection,if_exists="replace", index=False)