# start_pipeline
***
Before running the script make sure to modify the connection to the database
and specify the id's(or pass "all" for all coin) in the coin array below
Developed by Nils Dambowy and Sebastian Gampe
***

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import sys
sys.path.append('../')

from cnt.model import load_ner_model_v2, DesignEstimator, predict_re_single_sentence, RelationExtractor
#from cnt.create_rdf_graph import create_graph
from cnt.create_rdf_graph_restapi_single import create_graph_rest_api, get_db_data, get_csv_data, ner_uri, re_uri, \
    serialize_graph, create_graph_for_all_designs
from cnt.io import  Database_Connection
from cnt.model import load_pipeline
from rdflib import Graph
import pandas as pd
import swifter
from cnt.preprocess import Preprocess

import pathlib
#temp = pathlib.PosixPath
#pathlib.PosixPath = pathlib.WindowsPath

import mysql.connector
mysql_connection = "mysql://root:password@YourConnection" # Format user:password@IP/Database
dc =  Database_Connection("mysql+mysqlconnector://root:YourConnection") # Format user:password@IP/Database

In [2]:
# CSV or database tables
# use csv files = True, use NLP database tables = False
use_csv = False

# Path to the csv files
csv_path = "/home/bigdatalab/Projects/D4N4/NLP_release_1.0/data/"

# Representation of null / none values in csv files
none_value = "NULL" ## for '/N' value use "//N" 

# Save path for rdf files
save_path = '/home/bigdatalab/Projects/D4N4/NLP_release_1.0/rdf/'

# Only NER or both (RE and NER)
# use only the NER results = True, RE and NER results = False 
only_ner = False

In [3]:
# Input of the description and designID
# auf eine Seite abändern
design_id = 10
#Athena (Nikephoros) seated left, holding owl and spear; shield behind.

data = \
{'design_id': [design_id], \
 'description': ["Hades-Serapis enthroned left, bare-chested,wearing kalathos, extending right hand over Cerberus, left, holding sceptre in left arm. Ground line. Border of dots."], \
 'description_de': [""], \
 'description_org': [""], \
 'NER_Entities': [""], \
 'RE_Objects' : [""]}

df = pd.DataFrame(data)
df
#Antioch, towered, seated left on rocks, holding corn ears; below, river god Orontes swimming left

,design_id,description,description_de,description_org,NER_Entities,RE_Objects
0,10,"Hades-Serapis enthroned left, bare-chested,wea...",,,,

### Define the column names for the id and design column

In [4]:
id_col = "id"
design_col_en = "design_en"
design_col_de = "design_de"
language = "_en"
add_columns = ["id", "name"+language, "alternativenames"+language, "class"]
df_entities = dc.load_from_db("nlp_list_entities", add_columns)

***
### Create a connection to the database and cursor to access the data

In [5]:
params = {'host': "localhost", 'user' : 'cnt', 'password' : 'rJnW6m7kZR_%', 'database' : 'thrakien_d4n4'}
# database connection
mydb = mysql.connector.connect(**params)
cursor = mydb.cursor(buffered=True)

In [6]:
# load all designs from the DB into a dataframe and preprocess them
designs = pd.read_sql("SELECT id, design_en, design_de from data_designs", mysql_connection) #where id < 500
preprocess = Preprocess()
preprocess.add_rule("horseman", "horse man")
preprocess.add_rule("horsemen", "horse men")

for index, row in df_entities.iterrows():
    if row["alternativenames_en"] is not None:
        if row["class"] != "VERB":
            standard_name = row["name_en"]
            alt_names = row["alternativenames_en"].split(", ")
            for alt_name in alt_names:
                preprocess.add_rule(alt_name, standard_name)

for index, row in designs.iterrows():
    if " I." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" I.", " I")
    if " II." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" II.", " II")
    if " III." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" III.", " III")
    if " IV." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" IV.", " IV")
    if " V." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" V.", " V")
                
designs = designs.rename(columns={"id": "design_id"})
            
designs.head()
designs.shape

(7618, 3)

In [7]:
designs["design_en_changed"] = designs.swifter.apply(lambda row: preprocess.preprocess_design(row.design_en, row.design_id)[0], axis=1)
designs["design_en_changed"] = designs.swifter.apply(lambda row: row["design_en_changed"].replace("?", "").replace("(", "").replace(")", ""), axis=1)

Pandas Apply: 100%|█████████████████████████| 7618/7618 [02:22<00:00, 53.48it/s]
Pandas Apply: 100%|█████████████████████| 7618/7618 [00:00<00:00, 209782.67it/s]

In [8]:
designs = designs.rename(columns={"design_en": "design_en_org"})
designs = designs.rename(columns={"design_en_changed": "design_en"})
designs = designs.rename(columns={"design_id": "id"})
designs.head().style

# Named Entity Recognition and Relation Extraction

### Define the path and name of the NER model

In [9]:
model_directory_eng =  "/home/bigdatalab/Projects/D4N4/NLP_release_1.0/cnt/trained_model/ner/english_new/"
model_name_eng = "english_cno"

model_directory_ger =  "/home/bigdatalab/Projects/D4N4/NLP/cnt/trained_model/ner/german/"
model_name_ger = "german_cno"

### Define the path and name of the RE model

In [10]:
re_model_directory = "/home/bigdatalab/Projects/D4N4/NLP_release_1.0/cnt/trained_model/re/"
re_model_name_eng  = "english_cno"
re_model_name_ger  = "german_cno"

### Load the models

In [11]:
model_ner_eng = load_ner_model_v2(model_directory_eng, model_name_eng, id_col, design_col_en)
#model_ner_ger = load_ner_model_v2(model_directory_ger, model_name_ger, id_col, design_col_de)

In [12]:
model_re_eng = load_pipeline(re_model_directory, re_model_name_eng)
#model_re_ger = load_pipeline(re_model_directory, re_model_name_ger)

### Use the models on the dataframe

In [13]:
# Predicts the entities in both descriptions
df.at[0, 'NER_Entities'] = DesignEstimator.predict_single_sentence_clear(model_ner_eng, df.at[0, 'description'])
df

,design_id,description,description_de,description_org,NER_Entities,RE_Objects
0,10,"Hades-Serapis enthroned left, bare-chested,wea...",,,"[(Hades, OBJECT), (Serapis, PERSON), (kalathos...",

In [ ]:
# Make DataFrames for Relation Extraction and use the models on them

df1 = df[['design_id', 'description']]
df1 = df1.rename(columns={"description": "design_en", "design_id": "id"})
df.at[0, 'RE_Objects'] = model_re_eng.predict(df1).at[0, 'y']

df

In [ ]:
df.at[0, 'NER_Entities']

In [ ]:
df.at[0, 'RE_Objects']

### Load NLP data

In [14]:
# Get the NLP tables from database and save them into dataframes
mysql_connection = "mysql://cnt:rJnW6m7kZR_%@127.0.0.1:3306/thrakien_d4n4"

persons, persons_view, objects, objects_view, animals, animals_view, plants, plants_view, verbs, hierarchy = \
    get_db_data(mysql_connection)

#animals

In [12]:
# Get the NLP Tables from csv files and save them into dataframes
# Define column names for csv files

persons, persons_view, objects, objects_view, animals, animals_view, plants, plants_view, verbs, hierarchy = \
    get_csv_data(csv_path, none_value)

#hierarchy

### Use lists on entities and relations

In [15]:
# fetch URIs and categories from database for every NER entity

ner_uri(df, persons, persons_view, objects, objects_view, animals, animals_view, plants, plants_view) 

df

,design_id,description,description_de,description_org,NER_Entities,RE_Objects
0,10,"Hades-Serapis enthroned left, bare-chested,wea...",,,[(https://www.britishmuseum.org/collection/ter...,

In [18]:
df.at[0, 'NER_Entities']

[('https://www.wikidata.org/wiki/Q41410',
  'Hades',
  'PERSON',
  156,
  'Male',
  'Deities',
  'Greek',
  'Underworld',
  'Olympic'),
 ('https://www.britishmuseum.org/collection/term/BIOG60374',
  'Serapis',
  'PERSON',
  345,
  'Male',
  'Deities',
  'Egyptian',
  'Other',
  None),
 ('https://www.wikidata.org/wiki/Q492461',
  'kalathos',
  'OBJECT',
  122,
  'Vessel-Jar',
  None,
  None),
 ('https://www.wikidata.org/wiki/Q33767',
  'hand',
  'OBJECT',
  514,
  'BodyParts',
  None,
  None),
 ('https://www.wikidata.org/wiki/Q83496',
  'Cerberus',
  'ANIMAL',
  9,
  'Mammal',
  'MythicalCreature'),
 ('https://www.wikidata.org/wiki/Q152065',
  'sceptre',
  'OBJECT',
  93,
  'Ornaments',
  None,
  None),
 ('https://www.wikidata.org/wiki/Q43471',
  'arm',
  'OBJECT',
  533,
  'BodyParts',
  None,
  None)]

In [19]:
# fetch URIs and categories from database for every RE entity and relation
# to do: replace whitespaces with "_"

re_uri(df, persons, persons_view, objects, objects_view, animals, animals_view, plants, plants_view, verbs)

df.at[0, 'RE_Objects']

[[('https://www.britishmuseum.org/collection/term/BIOG60374',
   'Serapis',
   'PERSON',
   345,
   'Male',
   'Deities',
   'Egyptian',
   'Other',
   None),
  ('https://www.wikidata.org/wiki/Q152065',
   'sceptre',
   'OBJECT',
   93,
   'Ornaments',
   None,
   None),
  ('https://www.wikidata.org/wiki/Q108951109', 'holding', 1)]]

# Create rdf graph for the coins

In [25]:
# Create the RDf graph for the dataframe

create_graph_rest_api(df, params, hierarchy, use_csv, save_path)

Using NLP tables from database
Started serializing!

### Create graph for all designs

In [ ]:
designs = designs.rename(columns={"design_id": "id"})
create_graph_for_all_designs(df, designs, hierarchy, params, use_csv, model_ner_eng, model_re_eng, \
                            persons, persons_view, objects, objects_view, animals, animals_view, plants, \
                            plants_view, verbs, save_path, only_ner)

In [18]:
df.head()

,design_id,description,description_de,NER_Entities,RE_Objects
0,10,"Hades-Serapis enthroned left, bare-chested,wea...",,[(https://www.britishmuseum.org/collection/ter...,