Developed by Sebastian Gampe, Chrisowalandis Deligio

In [1]:
%load_ext autoreload

import sys
sys.path.append('../')
import pandas as pd
import random
import os
import numpy as np
from cnt.model import DesignEstimator, save_ner_model, load_ner_model,save_ner_model_v2, load_ner_model_v2
from cnt.annotate import (annotate, annotate_single_design, 
                          annotate_designs, 
                          extract_string_from_annotation, split_alternativenames)
from cnt.evaluate import Metrics
from cnt.preprocess import Preprocess
import spacy
from cnt.io import  Database_Connection
import warnings
warnings.filterwarnings('ignore')
import re

params = {'host': "localhost", 'user' : 'name', 'password' : 'pass', 'database' : 'database_name'}
dc =  Database_Connection("mysql+mysqlconnector://user:password@localhost:3306/database_name", params)

In [2]:
# Create dataframe and load designs from the database
id_col = "id"
design_col = "design_en"
output_dir =  "../cnt/trained_model/ner/english_new_2/"
model_name = "english_cno"

designs = dc.load_designs_from_db("nlp_training_designs", [id_col, design_col])
designs["design_en_changed"] = designs.loc[:, 'design_en']
designs["rules_applied"] = ""
designs["ner_results"] = ""
designs["mapped_results"] = ""
designs.head()

# Loading a subset of all designs
designs2 = designs.head(500)

model = load_ner_model_v2(output_dir, model_name, id_col, design_col)
designs.head().style

In [3]:
# Load entities from the database to another dataframe
language = "_en"
add_columns = ["name"+language, "alternativenames"+language]

person_entities = dc.load_designs_from_db("nlp_list_person", ["name", "alternativenames"])
person_entities.rename(columns={"name": "name_en", "alternativenames": "alternativenames_en"}, inplace=True)
object_entities = dc.load_designs_from_db("nlp_list_obj", add_columns)
animal_entities = dc.load_designs_from_db("nlp_list_animal", add_columns)
plant_entities = dc.load_designs_from_db("nlp_list_plant", add_columns)

frames = [person_entities, object_entities, animal_entities, plant_entities]
df_entities = pd.concat(frames)

df_entities.style
#df_entities.to_csv('ents.csv', index=False)

In [4]:
# Add rules for preprocessing
preprocess = Preprocess()
preprocess.add_rule("horseman", "horse man")
preprocess.add_rule("horsemen", "horse men")
#preprocess.add_rule("\?", "")
#preprocess.add_rule("(", "")
#preprocess.add_rule(")", "")
#preprocess.add_rule(" I.", " I")
#preprocess.add_rule(" II.", " II")
#preprocess.add_rule(" III.", " III")
#preprocess.add_rule(" IV.", " IV")
#preprocess.add_rule(" V.", " V")


for index, row in df_entities.iterrows():
    if row["alternativenames_en"] is not None:
        standard_name = row["name_en"]
        alt_names = row["alternativenames_en"].split(", ")
        for alt_name in alt_names:
            preprocess.add_rule(alt_name, standard_name)

In [5]:
# Preprocessing a single design
# 1. Create df with the design

new_df = designs.head(1)
new_df["design_en_changed"] = new_df.loc[:, 'design_en']
new_df["rules_applied"] = ""
new_df["ner_results"] = ""
new_df["mapped_results"] = ""


for index, row in new_df.iterrows():
    #new_df.at[index, "design_en_changed"] = "Alexander the Great macht Sachen, Alexander the Great hat andere Probleme."
    #new_df.at[index, "design_en"] = "Diademed head of deified Alexander the Great with astragals, right. Border of dots."
    new_df.at[index, "design_en"] = "Diademed head of deified Alexander the Great with horsemen(?), right. Border of dots."
    #new_df.at[index, "design_en"] = "Nude Apollo advancing right, holding arrow and drawing bow in his left hand."
new_df.style

In [6]:
# Preprocess the design and saving the applied rules

%autoreload 2

new_df.at[index, "design_en_changed"], new_df.at[index, "rules_applied"] = \
preprocess.preprocess_design(new_df.loc[index,'design_en'],new_df.loc[index,'id'])

new_df.style

In [8]:
# Map back the processed design with the saved rules

preprocess.map_back_design(new_df.loc[index,'design_en_changed'], new_df.loc[index,'id'])

'Diademed head of deified Alexander the Great with horsemen(?), right. Border of dots.'

In [9]:
# use the NLP model for finding the named entities and their postions 
new_df.at[index, "ner_results"] = model.predict_single_sentence(new_df.loc[index,'design_en_changed'])
new_df.style

In [10]:
# map the positions of the found entities to the original design
%autoreload 2

new_df.at[index, "mapped_results"] = \
preprocess.map_result_ner(new_df.loc[index,'design_en_changed'], new_df.loc[index,'ner_results'], new_df.loc[index,'id'])
new_df.style

In [11]:
# preprocess all designs
%autoreload 2

for index, row in designs2.iterrows():
    designs2.at[index, "design_en_changed"], designs2.at[index, "rules_applied"] = \
        preprocess.preprocess_design(designs2.loc[index,'design_en'], designs2.loc[index,'id'])
    designs2.at[index, "ner_results"] = model.predict_single_sentence(designs2.loc[index,'design_en_changed'])
    designs2.at[index, "mapped_results"] = \
    preprocess.map_result_ner(designs2.loc[index,'design_en_changed'], designs2.loc[index,'ner_results'], \
                                  designs2.loc[index,'id'])

#designs2.to_csv('out200.csv', index=False)

In [6]:
designs2.style

In [66]:
# Deleting brackets and questionmarks

for index, row in designs.iterrows():
    if "?" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("?", "")
        #print(row["design_en"])
    if "(" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("(", "")
        #print(row["design_en"])
    if ")" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(")", "")
        #print(row["design_en"])

In [12]:
# Fixing "Horseman" problem 

for index, row in designs.iterrows():
    if "Horseman" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("Horseman", "Horse man")
        #print(row["design_en"])
    if "horseman" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("horseman", "horse man")
        #print(row["design_en"])
    if "Horsemen" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("Horsemen", "Horse men")
        #print(row["design_en"])
    if "horsemen" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("horsemen", "horse men")
        #print(row["design_en"])

In [18]:
# Deleting dots after roman numerals. Execute twice to get all dots.

for index, row in designs.iterrows():
    if " I." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" I.", " I")
        print(designs.loc[index,'design_en'])
    if " II." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" II.", " II")
        print(designs.loc[index,'design_en'])
    if " III." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" III.", " III")
        print(designs.loc[index,'design_en'])
    if " IV." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" IV.", " IV")
        print(designs.loc[index,'design_en'])
    if " V." in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace(" V.", " V")
        print(designs.loc[index,'design_en'])
for index, row in designs.iterrows():
    if "Facing heads of Claudius and Agrippina II" in row["design_en"]:
        designs.at[index, "design_en"] = row["design_en"].replace("Facing heads of Claudius and Agrippina II", \
                                                                  "Facing heads of Claudius and Agrippina II.")

Facing heads of Claudius and Agrippina II

# Old Version

In [5]:
# change alternative names to the standard name
i = 0
for index, row in new_df.iterrows():
    print(i)
    i += 1
    for index2, row2 in df_entities.iterrows():
        if row2["alternativenames_en"] is not None:
            standard_name = row2["name_en"]
            alt_names = row2["alternativenames_en"].split(", ")
            if len(alt_names) > 1:
                alt_names = sorted(alt_names, key=len)
                alt_names.reverse()
            if re.search(r"\b%s\b" %standard_name, new_df.at[index, "design_en_changed"]):
                #print("Standard found: "+ standard_name )
                #print(row["design_en"])
                continue
            for alt_name in alt_names:
                #print(alt_name)
                #if "." in alt_name:
                    #print(alt_name)
                    #if re.search(r"\b%s\b" %alt_name + ".", new_df.at[index, "design_en_changed"]):
                        #print("Alt found: "+ alt_name + "." + ", changed to: " + standard_name)
                        #new_df.at[index, "design_en_changed"] = re.sub(r"\b%s\b" %alt_name + ".", standard_name, new_df.at[index, "design_en_changed"])
                        #print(new_df.loc[index,'design_en_changed'])
                        #continue
                if re.search(r"\b%s\b" %alt_name, new_df.at[index, "design_en_changed"]):
                    print("Alt found: "+ alt_name + ", changed to: " + standard_name)
                    new_df.at[index, "design_en_changed"] = re.sub(r"\b%s\b" %alt_name, standard_name, new_df.at[index, "design_en_changed"])
                    print(new_df.loc[index,'design_en_changed'])
                    break
                if alt_name[0].islower():
                    new_alt_name = alt_name[0].upper() + alt_name[1:]
                    new_standard_name = standard_name[0].upper() + standard_name[1:]
                    if re.search(r"\b%s\b" %new_alt_name, new_df.at[index, "design_en_changed"]):
                        print("Alt found: "+ new_alt_name + ", changed to: " + new_standard_name)
                        new_df.at[index, "design_en_changed"] = re.sub(r"\b%s\b" %new_alt_name, new_standard_name, new_df.at[index, "design_en_changed"])
                        print(new_df.loc[index,'design_en_changed'])
                        break
                if alt_name[0].isupper():
                    new_alt_name = alt_name[0].lower() + alt_name[1:]
                    new_standard_name = standard_name[0].lower() + standard_name[1:]
                    if re.search(r"\b%s\b" %new_alt_name, new_df.at[index, "design_en_changed"]):
                        print("Alt found: "+ new_alt_name + ", changed to: " + new_standard_name)
                        new_df.at[index, "design_en_changed"] = re.sub(r"\b%s\b" %new_alt_name, new_standard_name, new_df.at[index, "design_en_changed"])
                        print(new_df.loc[index,'design_en_changed'])
                        break
                    #print(alt_name)
new_df.to_csv('out.csv', index=False)

0
Alt found: Alexander the Great, changed to: Alexander III
Diademed head of deified Alexander III with horn of Ammon, right. Border of dots.
Alt found: Diademed, changed to: Diadem
Diadem head of deified Alexander III with horn of Ammon, right. Border of dots.
1
Alt found: garlanded, changed to: garland
Altar, lighted and garland.
2
3
Alt found: handles, changed to: handle
Amphora with ribbed surface and crooked handle containing two ears of corn and poppy.
Alt found: ears, changed to: ear
Amphora with ribbed surface and crooked handle containing two ear of corn and poppy.
4
5
6
7
8
9
10
Alt found: Diademed, changed to: Diadem
Diadem head of Antiochus I Soter, right.
11
Alt found: Diademed, changed to: Diadem
Diadem head of Antiochus II Theos, right.
12
13
14
15
Alt found: Laureate, changed to: Wreath
Wreath and draped bust of Antoninus Pius, right.
16
Alt found: Laureate, changed to: Wreath
Wreath bust of Antoninus Pius, right, wearing cuirass and paludamentum.
17
Alt found: Laureate, changed to: Wreath
Wreath bust of Antoninus Pius, right, wearing paludamentum.
18
19
Alt found: Laureate, changed to: Wreath
Wreath head of Antoninus Pius, right.
20
21
22
Alt found: breasts, changed to: breast
Nude Aphrodite standing facing, head right, covering her breast with right hand and pudenda with left hand; to left, Eros, riding a dolphin downwards.
23
Alt found: horns, changed to: horn
Apis-bull advancing right; head facing, a disc between the horn and an uraeus inside of it.
24
25
26
27
Alt found: Diademed, changed to: Diadem
Diadem head of Apollo, right.
28
29
Alt found: Laureate, changed to: Wreath
Wreath and draped bust of Apollo, right.
30
Alt found: Laureate, changed to: Wreath
Wreath and draped bust of Apollo, right; in front, palm branch.
31
Alt found: Laureate, changed to: Wreath
Wreath head of Apollo facing.
32
Alt found: Laureate, changed to: Wreath
Wreath head of Apollo, right.
33
Alt found: Laureate, changed to: Wreath
Wreath head of Apollo, right; within incuse square.
34
Alt found: Laureate, changed to: Wreath
Wreath head of Apollo, right; within linear square.
35
Alt found: Laureate, changed to: Wreath
Wreath head of Apollo, right; scallop shell below.
36
37
38
Alt found: enthroned, changed to: throne
Apollo throne left, holding laurel-branch in outstreched and lowered right hand and lyra set down behind him in left hand.
39
40
41
Alt found: garlanded, changed to: garland
Nude laureate Apollo standing right, resting right hand on hip, left resting on short garland column.
Alt found: laureate, changed to: wreath
Nude wreath Apollo standing right, resting right hand on hip, left resting on short garland column.
42
Alt found: boots, changed to: boot
Apollo and Artemis in front of large conical torch; to left, Apollo standing right, seen from behind, holding spear in left arm and chlamys over left shoulder clasping right hands with Artemis, to right, standing left, wearing a short chiton and boot, holding a bow in left hand.
43
44
45
46
47
48
49
50
Alt found: feet, changed to: foot
Nude Apollo standing facing, head left, left leg crossed over right, holding patera in outstretched right hand, left hand over serpent coiling around omphalos at his foot to right. Border of dots.
51
52
53
Alt found: soldiers, changed to: soldier
Triumphal arch with garland between pillars surmounted by statuary group; emperor (Nero) in facing quadriga, escorted by Nike on left, standing facing, holding uncertain object in right hand and Pax on right, standing facing, holding cornucopia? in left arm; flanked by two soldier on each column on both sides of the arch; Mars in niche on left side of arch.
54
55
Alt found: boots, changed to: boot
Ares standing facing, head right, wearing cuirass, boot and crested helmet, holding spear in right hand and parazonium in left hand.
56
57
Alt found: boots, changed to: boot
Artemis advancing right, head left, wearing short chiton and boot, holding bow in left hand, drawing arrow with right hand from quiver at shoulder. Ground line.
58
Alt found: boots, changed to: boot
Artemis advancing right, wearing short chiton and boot, holding bow in left hand, drawing arrow with right hand from quiver at shoulder.
59
Alt found: boots, changed to: boot
Artemis standing right, wearing short fluttering chiton and boot, holding bow in left hand and drawing arrow from quiver at shoulder with right hand. Border of dots.
60
Alt found: boots, changed to: boot
Artemis advancing right, wearing short fluttering chiton and boot, holding bow in left hand and drawing arrow from quiver at shoulder with right hand; at her feet, hound running right.
Alt found: feet, changed to: foot
Artemis advancing right, wearing short fluttering chiton and boot, holding bow in left hand and drawing arrow from quiver at shoulder with right hand; at her foot, hound running right.
61
Alt found: boots, changed to: boot
Artemis (Tauropolos) advancing right, hair bound at her neck, wearing short chiton, cloak and boot, holding almost horizontally a torch in each hand. Short ground line. Border of dots.
62
63
Alt found: boots, changed to: boot
Artemis advancing right, wearing a short chiton and boot, holding short torch in each hand. Ground line.
64
Alt found: Diademed, changed to: Diadem
Diadem and draped bust of Artemis, right, bow and quiver at shoulder.
65
66
Alt found: arrows, changed to: arrow
Artemis standing right, wearing long garment, holding two arrow in right hand and bow in left hand.
67
Alt found: boots, changed to: boot
Artemis standing facing, head right, wearing long garment and boot, holding short torch in right hand and bow in left hand; at her feet, hound, right, looking upwards to her. Border of dots.
Alt found: feet, changed to: foot
Artemis standing facing, head right, wearing long garment and boot, holding short torch in right hand and bow in left hand; at her foot, hound, right, looking upwards to her. Border of dots.
68
69
Alt found: feet, changed to: foot
Artemis (Phosphorus) standing facing, head left, holding arrow in extended right hand and cradling long torch in left arm; at her foot, stag standing left.
70
Alt found: boots, changed to: boot
Artemis standing facing, head left, wearing short chiton and boot, holding patera in outstretched right hand and bow in left hand; at her feet, stag standing left.
Alt found: feet, changed to: foot
Artemis standing facing, head left, wearing short chiton and boot, holding patera in outstretched right hand and bow in left hand; at her foot, stag standing left.
71
Alt found: feet, changed to: foot
Artemis standing facing, head left, holding patera in outstretched right hand and torch in left arm; at her foot, stag standing right.
72
73
Alt found: hands, changed to: hand
Artemis standing facing, head right, holding a torch in both hand.
74
Alt found: winged, changed to: wing
Asclepius reclining left, on wing serpent to right.
75
76
77
78
79
80
Alt found: Helmeted, changed to: Helmet
Helmet and draped bust of Athena, right.
81
82
83
Alt found: Helmeted, changed to: Helmet
Helmet head of Athena facing.
84
85
Alt found: enthroned, changed to: throne
Athena (Nikephoros) throne left, holding Nike in outstretched right hand; left arm resting on shield behind, decorated with gorgoneion; in background, transverse spear; in left field, monogram.
86
Alt found: enthroned, changed to: throne
Athena (Nikephoros) throne left, holding Nike in outstretched right hand; left arm resting on shield behind; in background, transverse spear; in inner left field, monogram.
87
88
Alt found: enthroned, changed to: throne
Athena (Nikephoros) throne left, wearing long garment and crested helmet, holding Nike, crowning king's name, in outstretched right hand; left arm resting on shield behind, decorated with gorgoneion; in background, transverse spear; in left field, herm.
89
90
91
Alt found: enthroned, changed to: throne
Athena (Nikephoros) throne left, holding Nike in outstretched right hand; left arm resting on shield behind; in exergue, trident.
92
Alt found: feet, changed to: foot
Athena (Nikephoros) seated left, holding Nike and spear; resting foot on footrest; shield behind.
93
94
95
96
97
98
99
Alt found: feet, changed to: foot
Athena standing facing, head left, wearing long garment and helmet; holding patera in outstretched right hand and inverted spear in left arm; at her foot, shield placed on ground.
100
Alt found: apples, changed to: apple
Athlete standing facing, head left, holding three apple? in right hand and discus in the left hand.
101
102

103
104
105
106
107
108
109
110
111
112
113
114
115
Alt found: Dioscuri, changed to: Dioscur
Caduceus, flanked by caps of the Dioscur surmounted by stars; above, monogram.
Alt found: caps, changed to: cap
Caduceus, flanked by cap of the Dioscur surmounted by stars; above, monogram.
Alt found: stars, changed to: star
Caduceus, flanked by cap of the Dioscur surmounted by star; above, monogram.
116
Alt found: Winged, changed to: Wing
Wing caduceus. Border of dots.
117
118
119
120
121
122
123
124
Alt found: cuirassed, changed to: cuirass
Laureate and cuirass bust of Caracalla, right, seen from behind.
Alt found: Laureate, changed to: Wreath
Wreath and cuirass bust of Caracalla, right, seen from behind.
125
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, left, seen from behind; with aegis on left shoulder.
126
Alt found: Laureate, changed to: Wreath
Wreath bust of bearded Caracalla, right, wearing cuirass and paludamentum, holding spear in right hand and shield in left arm decorated with gorgoneion.
127
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, left, wearing cuirass and paludamentum, holding spear pointed forwards and shield.
128
129
Alt found: Laureate, changed to: Wreath
Wreath bust of bearded Caracalla, right, seen from behind.
130
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, right, wearing cuirass with aegis on breastplate, holding spear over shoulder with left hand.
131
Alt found: Laureate, changed to: Wreath
Wreath bust of bearded Caracalla, right, wearing cuirass, holding spear over left shoulder with left hand.
132
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, right, wearing cuirass and paludamentum.
133
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, right, slight drapery on left shoulder. Border of dots.
134
Alt found: Laureate, changed to: Wreath
Wreath bust of youthful Caracalla, right, seen from behind, wearing cuirass and paludamentum.
135
Alt found: Laureate, changed to: Wreath
Wreath bust of Caracalla, right, wearing cuirass and paludamentum. Border of dots.
136
137
138
Alt found: Laureate, changed to: Wreath
Wreath and radiate head of bearded Caracalla, right.
139
Alt found: Laureate, changed to: Wreath
Wreath head of bearded Caracalla, right. Border of dots.
140
141
Alt found: boots, changed to: boot
Emperor (Caracalla) receiving the apples of the Hesperides from Heracles; to left, bearded emperor (Caracalla) in military attire standing facing, head right, wearing cuirass and boot, resting right arm on long sceptre; to right, nude Herakles, standing left, holding the apples of the Hesperides in right hand, resting left arm on club; inbetween, lighted and garlanded altar. Ground line. Border of dots.
Alt found: garlanded, changed to: garland
Emperor (Caracalla) receiving the apples of the Hesperides from Heracles; to left, bearded emperor (Caracalla) in military attire standing facing, head right, wearing cuirass and boot, resting right arm on long sceptre; to right, nude Herakles, standing left, holding the apples of the Hesperides in right hand, resting left arm on club; inbetween, lighted and garland altar. Ground line. Border of dots.
Alt found: sceptre, changed to: scepter
Emperor (Caracalla) receiving the apples of the Hesperides from Heracles; to left, bearded emperor (Caracalla) in military attire standing facing, head right, wearing cuirass and boot, resting right arm on long scepter; to right, nude Herakles, standing left, holding the apples of the Hesperides in right hand, resting left arm on club; inbetween, lighted and garland altar. Ground line. Border of dots.
Alt found: apples, changed to: apple
Emperor (Caracalla) receiving the apple of the Hesperides from Heracles; to left, bearded emperor (Caracalla) in military attire standing facing, head right, wearing cuirass and boot, resting right arm on long scepter; to right, nude Herakles, standing left, holding the apple of the Hesperides in right hand, resting left arm on club; inbetween, lighted and garland altar. Ground line. Border of dots.
142
Alt found: Charites, changed to: Charis
The three Charis (or Nymphs?) standing facing, left one head right, middle and right one, head left; wearing long garments, left, holding jar in right hand, right in left hand; the middle holding jar in right hand and ears of corn in left hand.
Alt found: Nymphs, changed to: Nymph
The three Charis (or Nymph?) standing facing, left one head right, middle and right one, head left; wearing long garments, left, holding jar in right hand, right in left hand; the middle holding jar in right hand and ears of corn in left hand.
Alt found: garments, changed to: garment
The three Charis (or Nymph?) standing facing, left one head right, middle and right one, head left; wearing long garment, left, holding jar in right hand, right in left hand; the middle holding jar in right hand and ears of corn in left hand.
Alt found: ears, changed to: ear
The three Charis (or Nymph?) standing facing, left one head right, middle and right one, head left; wearing long garment, left, holding jar in right hand, right in left hand; the middle holding jar in right hand and ear of corn in left hand.
143
Alt found: Charites, changed to: Charis
Three Charis (or Nymphs?) standing facing, left one, head right, middle and right ones, head left; wearing long garments; right and middle ones holding each other's shoulder, the left, holding the hand of the middle; left and right Charite (or Nymphs?) holding vases; in background, three trees.
Alt found: Nymphs, changed to: Nymph
Three Charis (or Nymph?) standing facing, left one, head right, middle and right ones, head left; wearing long garments; right and middle ones holding each other's shoulder, the left, holding the hand of the middle; left and right Charite (or Nymph?) holding vases; in background, three trees.
Alt found: garments, changed to: garment
Three Charis (or Nymph?) standing facing, left one, head right, middle and right ones, head left; wearing long garment; right and middle ones holding each other's shoulder, the left, holding the hand of the middle; left and right Charite (or Nymph?) holding vases; in background, three trees.
Alt found: vases, changed to: vase
Three Charis (or Nymph?) standing facing, left one, head right, middle and right ones, head left; wearing long garment; right and middle ones holding each other's shoulder, the left, holding the hand of the middle; left and right Charite (or Nymph?) holding vase; in background, three trees.
Alt found: trees, changed to: tree
Three Charis (or Nymph?) standing facing, left one, head right, middle and right ones, head left; wearing long garment; right and middle ones holding each other's shoulder, the left, holding the hand of the middle; left and right Charite (or Nymph?) holding vase; in background, three tree.
144
Alt found: Charites, changed to: Charis
Three Charis (or Nymphs?) standing facing, left nymph, head right, middle facing, right nymph head left; wearing long garments; holding each others shoulders; left nymph holding spindel in right hand, the left and middle in the left hand.
Alt found: garments, changed to: garment
Three Charis (or Nymphs?) standing facing, left nymph, head right, middle facing, right nymph head left; wearing long garment; holding each others shoulders; left nymph holding spindel in right hand, the left and middle in the left hand.
Alt found: shoulders, changed to: shoulder
Three Charis (or Nymphs?) standing facing, left nymph, head right, middle facing, right nymph head left; wearing long garment; holding each others shoulder; left nymph holding spindel in right hand, the left and middle in the left hand.
145
Alt found: Charites, changed to: Charis
Three Charis (or Nymphs?) standing facing; left head right, middle and right head left, wearing long garments; holding each others shoulders, left and middle holding amphora in right hand; right nymph in left hand.
Alt found: garments, changed to: garment
Three Charis (or Nymphs?) standing facing; left head right, middle and right head left, wearing long garment; holding each others shoulders, left and middle holding amphora in right hand; right nymph in left hand.
Alt found: shoulders, changed to: shoulder
Three Charis (or Nymphs?) standing facing; left head right, middle and right head left, wearing long garment; holding each others shoulder, left and middle holding amphora in right hand; right nymph in left hand.
146
Alt found: Charites, changed to: Charis
The three Charis (or Nymphs?); outer standing facing, middle from the back, nude; left nymph, head left, middle head right, right head right; holding each others shoulder; outer ones hold vases.
Alt found: vases, changed to: vase
The three Charis (or Nymphs?); outer standing facing, middle from the back, nude; left nymph, head left, middle head right, right head right; holding each others shoulder; outer ones hold vase.

147
Alt found: Charites, changed to: Charis
The three Charis (or Nymphs?) standing, nude; left facing, head left, middle from the back, head right, right facing, head right; holding each others shoulders; left nymph holding in right hand long fillet and right in left hand.
Alt found: shoulders, changed to: shoulder
The three Charis (or Nymphs?) standing, nude; left facing, head left, middle from the back, head right, right facing, head right; holding each others shoulder; left nymph holding in right hand long fillet and right in left hand.
148
149
150
151
152
153
Alt found: towers, changed to: tower
Closed city gate, flanked by two round tower; above, figure standing in quadriga, right. Border of dots.
154
Alt found: roofs, changed to: roof
City gate, flanked by two crenellated towers with conical roof.
Alt found: towers, changed to: tower
City gate, flanked by two crenellated tower with conical roof.
155
Alt found: arches, changed to: arch
City gate, flanked by two towers with conical roofs; above, gallery of three arch.
Alt found: roofs, changed to: roof
City gate, flanked by two towers with conical roof; above, gallery of three arch.
Alt found: towers, changed to: tower
City gate, flanked by two tower with conical roof; above, gallery of three arch.
156
Alt found: boots, changed to: boot
Emperor (Caracalla) receiving agonistic crown from city goddess; to left, city goddess standing right, wearing high kalathos, holding agonistic crown in right hand and cornucopia in left arm; to right, emperor (Caracalla) in military attire, standing left, wearing cuirass and boot.
157
158
159
160
161
162
163
164
165
Alt found: Laureate, changed to: Wreath
Wreath and draped bust of Commodus, right.
166
Alt found: Laureate, changed to: Wreath
Wreath bust of youthful Commodus, right, wearing cuirass and paludamentum.
167
Alt found: Laureate, changed to: Wreath
Wreath bust of youthful Commodus, right, wearing paludamentum.
168
Alt found: Laureate, changed to: Wreath
Wreath bust of Commodus, right, wearing cuirass and paludamentum.
169
Alt found: Laureate, changed to: Wreath
Wreath bust of Commodus, right, wearing paludamentum.
170
Alt found: Laureate, changed to: Wreath
Wreath bust of lightly bearded Commodus, right, wearing cuirass and paludamentum.
171
Alt found: Laureate, changed to: Wreath
Wreath bust of lightly bearded Commodus, right, wearing cuirass with traces of paludamentum.
172
Alt found: Laureate, changed to: Wreath
Wreath head of youthful Commodus, right.
173
Alt found: Laureate, changed to: Wreath
Wreath head of Commodus, right.
174
175
176
Alt found: cornucopiae, changed to: cornucopia
Two crossed cornucopia.
177
Alt found: rays, changed to: ray
Crescent; above, single star with eight ray. Border of dots.
178
Alt found: rays, changed to: ray
Crescent; above, single star with six ray. Border of dots.
179
Alt found: busts, changed to: bust
Confronted bust of youthful Commodus, wearing cuirass and paludamentum, and of Crispina diademed and draped.
Alt found: diademed, changed to: diadem
Confronted bust of youthful Commodus, wearing cuirass and paludamentum, and of Crispina diadem and draped.
180
Alt found: apples, changed to: apple
Inscribed and ornated prize crown, with five apple. Ground line. Border of dots.
181
182
Alt found: enthroned, changed to: throne
Turreted Cybele throne left, holding patera in outstretched right hand, left arm resting on back; at her feet, lion lying, left.
Alt found: Turreted, changed to: Tower
Tower Cybele throne left, holding patera in outstretched right hand, left arm resting on back; at her feet, lion lying, left.
Alt found: feet, changed to: foot
Tower Cybele throne left, holding patera in outstretched right hand, left arm resting on back; at her foot, lion lying, left.
183
Alt found: enthroned, changed to: throne
Veiled and turreted Cybele throne left, holding patera in outstretched right hand, left arm resting on tympanon; at her feet, lion lying, left.
Alt found: turreted, changed to: tower
Veiled and tower Cybele throne left, holding patera in outstretched right hand, left arm resting on tympanon; at her feet, lion lying, left.
Alt found: Veiled, changed to: Veil
Veil and tower Cybele throne left, holding patera in outstretched right hand, left arm resting on tympanon; at her feet, lion lying, left.
Alt found: feet, changed to: foot
Veil and tower Cybele throne left, holding patera in outstretched right hand, left arm resting on tympanon; at her foot, lion lying, left.
184
Alt found: ornamented, changed to: ornament
Turreted Cybele enthroned left, holding patera in outstretched right hand, sceptre in left; throne legs ornament.
Alt found: sceptre, changed to: scepter
Turreted Cybele enthroned left, holding patera in outstretched right hand, scepter in left; throne legs ornament.
Alt found: Turreted, changed to: Tower
Tower Cybele enthroned left, holding patera in outstretched right hand, scepter in left; throne legs ornament.
185
Alt found: enthroned, changed to: throne
Cybele throne left, wearing calathus, holding patera in outstretched right hand over lion in front of her, seated left, resting left arm on tympanum.
Alt found: tympanum, changed to: tympanon
Cybele throne left, wearing calathus, holding patera in outstretched right hand over lion in front of her, seated left, resting left arm on tympanon.
186
Alt found: enthroned, changed to: throne
Turreted Cybele throne left, wearing long garment, holding patera in outstretched right hand, resting left arm on tympanum. Ground line.
Alt found: Turreted, changed to: Tower
Tower Cybele throne left, wearing long garment, holding patera in outstretched right hand, resting left arm on tympanum. Ground line.
Alt found: tympanum, changed to: tympanon
Tower Cybele throne left, wearing long garment, holding patera in outstretched right hand, resting left arm on tympanon. Ground line.
187
Alt found: turreted, changed to: tower
Veiled and tower Cybele enthroned left, holding patera in outstretched right hand, left arm resting on tympanon; beside throne, lion lying left, second lion seen in background behind throne, lying left.
Alt found: Veiled, changed to: Veil
Veil and tower Cybele enthroned left, holding patera in outstretched right hand, left arm resting on tympanon; beside throne, lion lying left, second lion seen in background behind throne, lying left.
188
Alt found: enthroned, changed to: throne
Veiled and turreted Cybele throne left, holding patera in outstretched right hand, resting left arm on tympanum. Ground line.
Alt found: turreted, changed to: tower
Veiled and tower Cybele throne left, holding patera in outstretched right hand, resting left arm on tympanum. Ground line.
Alt found: tympanum, changed to: tympanon
Veiled and tower Cybele throne left, holding patera in outstretched right hand, resting left arm on tympanon. Ground line.
Alt found: Veiled, changed to: Veil
Veil and tower Cybele throne left, holding patera in outstretched right hand, resting left arm on tympanon. Ground line.
189
Alt found: enthroned, changed to: throne
Turreted Cybele throne left, holding patera in outstretched right hand, resting left arm on drum; at her feet, two lions seated left. Ground line. Border of dots.
Alt found: Turreted, changed to: Tower
Tower Cybele throne left, holding patera in outstretched right hand, resting left arm on drum; at her feet, two lions seated left. Ground line. Border of dots.
Alt found: feet, changed to: foot
Tower Cybele throne left, holding patera in outstretched right hand, resting left arm on drum; at her foot, two lions seated left. Ground line. Border of dots.
Alt found: lions, changed to: lion
Tower Cybele throne left, holding patera in outstretched right hand, resting left arm on drum; at her foot, two lion seated left. Ground line. Border of dots.
190
Alt found: sceptre, changed to: scepter
Turreted Cybele seated left, on lion jumping right, holding tympanum in right hand, left resting on long scepter.
Alt found: Turreted, changed to: Tower
Tower Cybele seated left, on lion jumping right, holding tympanum in right hand, left resting on long scepter.
Alt found: tympanum, changed to: tympanon
Tower Cybele seated left, on lion jumping right, holding tympanon in right hand, left resting on long scepter.
191
192

193
Alt found: torches, changed to: torch
Demeter in biga of two winged serpents galloping right, holding long torch in each hand.
Alt found: winged, changed to: wing
Demeter in biga of two wing serpents galloping right, holding long torch in each hand.
Alt found: serpents, changed to: serpent
Demeter in biga of two wing serpent galloping right, holding long torch in each hand.
194
Alt found: winged, changed to: wing
Demeter standing right in biga, right, drawn by two wing serpents, wearing long garment, holding torch in each hand.
Alt found: serpents, changed to: serpent
Demeter standing right in biga, right, drawn by two wing serpent, wearing long garment, holding torch in each hand.
195
Alt found: Veiled, changed to: Veil
Veil and draped bust of Demeter, right, wearing corn wreath.
196
Alt found: Veiled, changed to: Veil
Veil and draped bust of Demeter, right, wearing corn wreath; in front two poppies.
Alt found: poppies, changed to: poppy
Veil and draped bust of Demeter, right, wearing corn wreath; in front two poppy.
197
Alt found: earrings, changed to: earring
Head of Demeter facing, slightly right, hair in korymbos, wearing earring and necklace.
198
Alt found: Veiled, changed to: Veil
Veil head of Demeter, right, wearing corn wreath.
199
Alt found: Veiled, changed to: Veil
Veil and draped bust of Demeter, right, wearing corn wreath, holding grain ear in raised left hand.
200
Alt found: enthroned, changed to: throne
Demeter throne left, holding patera in outstretched right hand, left resting on long torch.
201
Alt found: enthroned, changed to: throne
Demeter throne left between two torches, holding ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Demeter throne left between two torches, holding ear of corn in right hand, left resting on long torch.
202
Alt found: sceptre, changed to: scepter
Demeter enthroned left, holding ears of corn in right hand, left resting on long torch (or scepter?).
Alt found: enthroned, changed to: throne
Demeter throne left, holding ears of corn in right hand, left resting on long torch (or scepter?).
Alt found: ears, changed to: ear
Demeter throne left, holding ear of corn in right hand, left resting on long torch (or scepter?).
203
Alt found: enthroned, changed to: throne
Demeter throne left, holding ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Demeter throne left, holding ear of corn in right hand, left resting on long torch.
204
Alt found: enthroned, changed to: throne
Veiled Demeter throne left, holding two ears of corn in right hand, left resting on long torch.
Alt found: Veiled, changed to: Veil
Veil Demeter throne left, holding two ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter throne left, holding two ear of corn in right hand, left resting on long torch.
205
Alt found: Veiled, changed to: Veil
Veil Demeter seated left on cista mystica entwined by serpent, wearing corn wreath, holding two ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter seated left on cista mystica entwined by serpent, wearing corn wreath, holding two ear of corn in right hand, left resting on long torch.
206
Alt found: enthroned, changed to: throne
Veiled Demeter throne left, wearing corn wreath, holding two ears of corn in outstretched right hand, left resting on long torch. Ground line.
Alt found: Veiled, changed to: Veil
Veil Demeter throne left, wearing corn wreath, holding two ears of corn in outstretched right hand, left resting on long torch. Ground line.
Alt found: ears, changed to: ear
Veil Demeter throne left, wearing corn wreath, holding two ear of corn in outstretched right hand, left resting on long torch. Ground line.
207
Alt found: Veiled, changed to: Veil
Veil Demeter seated left on basket, wearing corn wreath and long garment, holding two ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter seated left on basket, wearing corn wreath and long garment, holding two ear of corn in right hand, left resting on long torch.
208
Alt found: Veiled, changed to: Veil
Veil Demeter seated left on basket, wearing corn wreath, holding two ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter seated left on basket, wearing corn wreath, holding two ear of corn in right hand, left resting on long torch.
209
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, holding ears of corn in raised right hand over altar, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, holding ear of corn in raised right hand over altar, left resting on long torch.
210
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, wearing corn wreath and long garment, holding two ears of corn in outstretched right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, wearing corn wreath and long garment, holding two ear of corn in outstretched right hand, left resting on long torch.
211
Alt found: ears, changed to: ear
Demeter standing left, holding ear of corn and poppy in right hand and torch in left arm.
212
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, holding two ears of corn in right hand over altar and short torch in left arm.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, holding two ear of corn in right hand over altar and short torch in left arm.
213
Alt found: sceptre, changed to: scepter
Veiled Demeter standing facing, head left, wearing corn wreath and long garment, holding two ears of corn in right hand, left resting on scepter. Short ground line. Border of dots.
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, wearing corn wreath and long garment, holding two ears of corn in right hand, left resting on scepter. Short ground line. Border of dots.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, wearing corn wreath and long garment, holding two ear of corn in right hand, left resting on scepter. Short ground line. Border of dots.
214
Alt found: ears, changed to: ear
Demeter standing facing, head left, holding ear of corn in right hand, left resting on long torch.
215
Alt found: ears, changed to: ear
Demeter standing facing, head left, holding ear of corn in right hand and short torch in left arm.
216
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, holding ears of corn in raised right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, holding ear of corn in raised right hand, left resting on long torch.
217
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, head left, holding two ears of corn in right hand, left resting on long torch.
Alt found: ears, changed to: ear
Veil Demeter standing facing, head left, holding two ear of corn in right hand, left resting on long torch.
218
219
Alt found: Veiled, changed to: Veil
Veil Demeter standing facing, holding torch in each hand.
220
221
222
223
Alt found: reins, changed to: rein
Dionysus and standing in galloping biga, right, wearing fluttering cloak, holding the rein in both hands; behind him Maenad standing right, holding an expanded veil in both hands.
Alt found: hands, changed to: hand
Dionysus and standing in galloping biga, right, wearing fluttering cloak, holding the rein in both hand; behind him Maenad standing right, holding an expanded veil in both hand.
224
225
226
227
228
Alt found: berries, changed to: berry
Head of (youthful) Dionysus, right, wearing ivy wreath with berry.
229
230
231
232
233
234
235
236
Alt found: spears, changed to: spear
Nude Dionysus standing facing, head left, holding bunch of grapes in right hand, chlamys and two spear in left arm. Short ground line.
Alt found: grapes, changed to: grape
Nude Dionysus standing facing, head left, holding bunch of grape in right hand, chlamys and two spear in left arm. Short ground line.
237
Alt found: spears, changed to: spear
Nude Dionysus standing facing, head left, holding bunch of grapes in right hand, chlamys and two spear in left arm. At both sides, two monograms.
Alt found: grapes, changed to: grape
Nude Dionysus standing facing, head left, holding bunch of grape in right hand, chlamys and two spear in left arm. At both sides, two monograms.
238
239

Alt found: boots, changed to: boot
Dionysus standing facing, wearing short chiton and boot, holding cantharus in right hand over panther seated left and long filleted thyrsus in left arm.
240
241
242
Alt found: spears, changed to: spear
Nude Dionysus standing facing, head left, holding bunch of grapes in right hand and two spear in left arm; in inner left and right field, monograms. Short ground line.
Alt found: grapes, changed to: grape
Nude Dionysus standing facing, head left, holding bunch of grape in right hand and two spear in left arm; in inner left and right field, monograms. Short ground line.
243
Alt found: grapes, changed to: grape
Dionysus standing facing, head left, holding bunch of grape in right hand and thyrsus in left arm, garment over left shoulder. Border of dots.
244
Alt found: boots, changed to: boot
Nude Dionysus standing facing, head left, wearing boot, holding cantharus in right hand over a panther seated left, head right, with raised forepaw; pelleted and filleted thyrsus in left arm; at left, star with six rays.
Alt found: rays, changed to: ray
Nude Dionysus standing facing, head left, wearing boot, holding cantharus in right hand over a panther seated left, head right, with raised forepaw; pelleted and filleted thyrsus in left arm; at left, star with six ray.
245
246
247
Alt found: pellets, changed to: pellet
Dolphin swimming left; above, two pellet above; below, three pellet below.
248
249
250
251
252
253
Alt found: dolphins, changed to: dolphin
Two dolphin; upper to left, lower to right, ethnikon around; all within shallow incuse square.
254
Alt found: tunnies, changed to: tunny
Dolphin swimming right; between two tunny swimming left.
255
Alt found: tunnies, changed to: tunny
Dolphin swimming right between two tunny.
256
Alt found: Laureate, changed to: Wreath
Wreath head of Domitian, right.
257
Alt found: wings, changed to: wing
Eagle standing facing, head left, wing half-spread. Border of dots.
258
Alt found: garlanded, changed to: garland
Eagle standing facing on garland altar, head right, wings half-spread, between two standards.
Alt found: standards, changed to: standard
Eagle standing facing on garland altar, head right, wings half-spread, between two standard.
Alt found: wings, changed to: wing
Eagle standing facing on garland altar, head right, wing half-spread, between two standard.
259
Alt found: wings, changed to: wing
Eagle standing facing, slightly left, head right, wing spread, holding wreath in beak.
260
Alt found: wings, changed to: wing
Eagle standing facing, slightly left, on thunderbolt, head right, wing spread, holding wreath in beak.
261
Alt found: garlanded, changed to: garland
Eagle standing right on garland altar, wings spread, holding a wreath in beak.
Alt found: wings, changed to: wing
Eagle standing right on garland altar, wing spread, holding a wreath in beak.
262
Alt found: wings, changed to: wing
Eagle standing facing on thunderbolt, head left, wing spread.
263
Alt found: wings, changed to: wing
Eagle standing right on thunderbolt, head left, wing closed, holding wreath in beak.
264
Alt found: wings, changed to: wing
Eagle standing right on thunderbolt, wing closed.
265
266
267
Alt found: Laureate, changed to: Wreath
Wreath bust of Elagabalus, right, wearing cuirass; gorgoneion on breastplate, holding spear with left hand over left shoulder.
268
Alt found: Laureate, changed to: Wreath
Wreath bust of Elagabalus, right; wearing cuirass with aegis on left shoulder, gorgoneion on breastplate.
269
Alt found: Laureate, changed to: Wreath
Wreath bust of Elagabalus, right, wearing cuirass and paludamentum. Border of dots.
270
Alt found: Laureate, changed to: Wreath
Wreath head of Elagabalus, right.
271
Alt found: cuirassed, changed to: cuirass
Radiate and cuirass bust of Elagabalus, right.
272
Alt found: boots, changed to: boot
Emperor (Lucius Verus) in military attire advancing right, wearing cuirass, fluttering paludamentum and boot, holding transverse spear in right hand, carrying trophy over left shoulder. Border of dots.
273
Alt found: boots, changed to: boot
Emperor (Severus Alexander) standing facing, head left, wearing cuirass, fluttering paludamentum and boot, holding patera in outstretched right hand and sceptre in left handE
Alt found: sceptre, changed to: scepter
Emperor (Severus Alexander) standing facing, head left, wearing cuirass, fluttering paludamentum and boot, holding patera in outstretched right hand and scepter in left handE
274
Alt found: Faustina I., changed to: Faustina Maior
Empress (Faustina Maior) as priestess standing facing, head left, holding patera in outstretched right hand over altar and short sceptre in left arm.
Alt found: sceptre, changed to: scepter
Empress (Faustina Maior) as priestess standing facing, head left, holding patera in outstretched right hand over altar and short scepter in left arm.
275
276
Alt found: Elagabal, changed to: Elagabalus
Emperor (Elagabalus) in military attire riding right on horseback, wearing cuirass and fluttering paludamentum, holding transverse spear in raised right hand.
Alt found: horseback, changed to: horse
Emperor (Elagabalus) in military attire riding right on horse, wearing cuirass and fluttering paludamentum, holding transverse spear in raised right hand.
277
Alt found: horseback, changed to: horse
Emperor (Severus Alexander) in military attire riding right on horse, wearing cuirass and fluttering paludamentum, holding transverse spear in right hand. Short ground line. Border of dots.
278
Alt found: Philip the Arab, changed to: Philippus Arabs
Emperor (Philippus Arabs) riding right on horseback, wearing cuirass, holding short sceptre in right arm.
Alt found: sceptre, changed to: scepter
Emperor (Philippus Arabs) riding right on horseback, wearing cuirass, holding short scepter in right arm.
Alt found: horseback, changed to: horse
Emperor (Philippus Arabs) riding right on horse, wearing cuirass, holding short scepter in right arm.
279
Alt found: boots, changed to: boot
Emperor (Commodus) in military attire riding right on horseback, wearing cuirass, fluttering paludamentum and boot, holding transverse spear in right hand.
Alt found: horseback, changed to: horse
Emperor (Commodus) in military attire riding right on horse, wearing cuirass, fluttering paludamentum and boot, holding transverse spear in right hand.
280
Alt found: sceptre, changed to: scepter
Emperor (Caracalla) riding right on horseback, wearing cuirass, holding short scepter in right arm.
Alt found: horseback, changed to: horse
Emperor (Caracalla) riding right on horse, wearing cuirass, holding short scepter in right arm.
281
Alt found: boots, changed to: boot
Emperor (Antoninus Pius) in military attire riding right on horseback, wearing cuirass, fluttering paludamentum and boot, holding short sceptre in right arm.
Alt found: sceptre, changed to: scepter
Emperor (Antoninus Pius) in military attire riding right on horseback, wearing cuirass, fluttering paludamentum and boot, holding short scepter in right arm.
Alt found: horseback, changed to: horse
Emperor (Antoninus Pius) in military attire riding right on horse, wearing cuirass, fluttering paludamentum and boot, holding short scepter in right arm.
282
Alt found: boots, changed to: boot
Emperor (Caracalla) in military attire riding right on horseback, wearing cuirass, fluttering paludamentum and boot, holding spear horizontally in lowered right hand; in front, captive seated left with Phrygian cap and bound arms behind back.
Alt found: arms, changed to: arm
Emperor (Caracalla) in military attire riding right on horseback, wearing cuirass, fluttering paludamentum and boot, holding spear horizontally in lowered right hand; in front, captive seated left with Phrygian cap and bound arm behind back.
Alt found: horseback, changed to: horse
Emperor (Caracalla) in military attire riding right on horse, wearing cuirass, fluttering paludamentum and boot, holding spear horizontally in lowered right hand; in front, captive seated left with Phrygian cap and bound arm behind back.
283
Alt found: horseback, changed to: horse
Emperor (Gordian) in military attire riding right on horse, wearing cuirass and fluttering paludamentum, holding spear in right hand towards a captive in front of him.
284
285

Alt found: reins, changed to: rein
Eros riding right on dolphin, holding rein in both hands; dolphin holding oar. Border of dots.
Alt found: hands, changed to: hand
Eros riding right on dolphin, holding rein in both hand; dolphin holding oar. Border of dots.
286
Alt found: rocks, changed to: rock
Nude Eros in attitude of Thanatos standing left, legs crossed, leaning on upturned lit torch set on pile of rock.
287
288
289
Alt found: garlanded, changed to: garland
Nude Eros in attitude of Thanatos standing right, legs crossed, resting on torch set on garland altar.
290
291
Alt found: Faustina I., changed to: Faustina Maior
Diademed and draped bust of Faustina Maior, right.
Alt found: Diademed, changed to: Diadem
Diadem and draped bust of Faustina Maior, right.
292
Alt found: Faustina I., changed to: Faustina Maior
Draped bust of Faustina Maior, right, band of pearls in hair.
Alt found: pearls, changed to: pearl
Draped bust of Faustina Maior, right, band of pearl in hair.
293
Alt found: Faustina I., changed to: Faustina Maior
Diademed and draped bust of Faustina Maior, right, wearing hair knot. Border of dots.
Alt found: Diademed, changed to: Diadem
Diadem and draped bust of Faustina Maior, right, wearing hair knot. Border of dots.
294
Alt found: Faustina I., changed to: Faustina Maior
Veiled and draped bust of Faustina Maior, right, wearing diadem.
Alt found: Veiled, changed to: Veil
Veil and draped bust of Faustina Maior, right, wearing diadem.
295
Alt found: female, changed to: woman
Veiled woman goddess standing facing, head left, holding uncertain object in right hand and long sceptre in left hand.
Alt found: sceptre, changed to: scepter
Veiled woman goddess standing facing, head left, holding uncertain object in right hand and long scepter in left hand.
Alt found: Veiled, changed to: Veil
Veil woman goddess standing facing, head left, holding uncertain object in right hand and long scepter in left hand.
296
Alt found: female, changed to: woman
Diademed woman head, right.
Alt found: Diademed, changed to: Diadem
Diadem woman head, right.
297
Alt found: Female, changed to: Woman
Woman head, left.
298
Alt found: Female, changed to: Woman
Woman head, left, wearing diadem and necklace.
299
Alt found: Female, changed to: Woman
Woman head (Artemis?) with fasten hair, left.
300
301
Alt found: standards, changed to: standard
Galley, under full sail, sailing left; on stern, two standard.
302
Alt found: standards, changed to: standard
Galley sailing left, in waters; on board, eight rowers and emperor (Antoninus Pius) standing left, raising right arm, holding parazonium in left arm, in front of two standard.
303
Alt found: sceptre, changed to: scepter
Emperor (Severus Alexander) with Isis (Pharia) and Serapis; in the middle, emperor (Severus Alexander) in military attire standing facing, head left, standing left ongalley, raising right arm, holding scepter in left hand; to left, Isis (Pharia) standing left, inclining, wearing fluttering garment, holding sail in both hands; to right, bearded Serapis standing facing, head left, wearing kalathos, crowning emperor with laurel wreath in right hand, holding rudder in left hand; hull decorated with octopus to left, fish in the middle and dolphin to right, all swimming left. Border of dots.
304
Alt found: standards, changed to: standard
Galley sailing left, in waters; on board, four rowers and emperor (Geta) standing left, holding patera in outstretched right hand, left resting on spear, in front of two standard; in left field above mark of value Δ. Border of dots.
305
Alt found: standards, changed to: standard
Galley, under full sail, sailing right, eight rowers on board and helmsman seated on stern in front of two standard.
306
307
Alt found: standards, changed to: standard
Galley sailing right; on board, rowers and helmsman in front of standard.
308
Alt found: standards, changed to: standard
Galley sailing right, on board, six rowers and helmsman in front of two standard.
309
Alt found: Laureate, changed to: Wreath
Wreath bust of Gallienus, left, wearing cuirass and paludamentum, holding spear in right hand and shield with gorgoneion in left arm. Border of dots.
310
311
Alt found: Laureate, changed to: Wreath
Wreath head of Gallienus, right.
312
Alt found: Winged, changed to: Wing
Wing Genius standing left, wearing long garment, holding statuette of Tyche in right hand, standing facing, head left, wearing kalathos, and bow in right hand.
313
314
315
Alt found: Laureate, changed to: Wreath
Wreath bust of youthful Geta, right, wearing cuirass and paludamentum.
316
Alt found: Laureate, changed to: Wreath
Wreath bust of Geta, right, seen from behind, wearing cuirass and paludamentum.
317
Alt found: Laureate, changed to: Wreath
Wreath head of Geta, right.
318
319
320
321
322
323
324
325
Alt found: garlanded, changed to: garland
Goat standing right; to right below beard, garland throne; on this throne cult statue of Hermes (Perpheraios) to right, wearing petasus, with a small caduceus in front of him; all within incuse square.
326
327
328
329
330
331
332
Alt found: Laureate, changed to: Wreath
Wreath bust of Gordian III, right, wearing cuirass, holding spear in left hand; gorgoneion on breastplate.
333
Alt found: Laureate, changed to: Wreath
Wreath bust of Gordian III, right, wearing cuirass, seen from front, slight drapery over left shoulder; gorgoneion on breastplate.
334
Alt found: Laureate, changed to: Wreath
Wreath bust of Gordian III, left, wearing cuirass and paludamentum, holding spear in right hand and shield decorated with eagle on left arm. Border of dots.
335
Alt found: Laureate, changed to: Wreath
Wreath bust of Gordian III, right, wearing cuirass and paludamentum. Border of dots.
336
Alt found: Laureate, changed to: Wreath
Wreath bust of Gordian III, right, seen from front, wearing cuirass and paludamentum.
337
Alt found: Laureate, changed to: Wreath
Wreath head of Gordian III, right.
338
Alt found: busts, changed to: bust
Confronted bust of Gordian III, laureate, wearing paludamentum, and of Tranquillina, diademed and draped.
Alt found: diademed, changed to: diadem
Confronted bust of Gordian III, laureate, wearing paludamentum, and of Tranquillina, diadem and draped.
Alt found: laureate, changed to: wreath
Confronted bust of Gordian III, wreath, wearing paludamentum, and of Tranquillina, diadem and draped.
339
Alt found: busts, changed to: bust
Confronted bust of Gordian III, laureate, seen from behind, wearing paludamentum, and of Tranquillina, diademed and draped.
Alt found: diademed, changed to: diadem
Confronted bust of Gordian III, laureate, seen from behind, wearing paludamentum, and of Tranquillina, diadem and draped.
Alt found: laureate, changed to: wreath
Confronted bust of Gordian III, wreath, seen from behind, wearing paludamentum, and of Tranquillina, diadem and draped.
340
Alt found: busts, changed to: bust
Confronted bust of Gordian III, laureate, wearing cuirass and paludamentum, and of Tranquillina, diademed and draped.
Alt found: diademed, changed to: diadem
Confronted bust of Gordian III, laureate, wearing cuirass and paludamentum, and of Tranquillina, diadem and draped.
Alt found: laureate, changed to: wreath
Confronted bust of Gordian III, wreath, wearing cuirass and paludamentum, and of Tranquillina, diadem and draped.
341
Alt found: busts, changed to: bust
Confronted bust of Gordian III, laureate, wearing cuirass and paludamentum, seen from behind, and of Tranquillina, diademed and draped.
Alt found: diademed, changed to: diadem
Confronted bust of Gordian III, laureate, wearing cuirass and paludamentum, seen from behind, and of Tranquillina, diadem and draped.
Alt found: laureate, changed to: wreath
Confronted bust of Gordian III, wreath, wearing cuirass and paludamentum, seen from behind, and of Tranquillina, diadem and draped.
342
Alt found: serpents, changed to: serpent
Gorgoneion, tongue protruding, serpent forming curls framing head; within incuse circle.
343
Alt found: grapes, changed to: grape
Bunch of grape on vine branch with a leaf on each side.
344
Alt found: grapes, changed to: grape
Bunch of grape.
345
Alt found: grapes, changed to: grape
Vine with four bunches of grape, two on each side, within linear square; all within incuse square.
346
Alt found: grapes, changed to: grape
Vine with five bunches of grape, three on left, two on right, within linear square; all within incuse square.
347
Alt found: grapes, changed to: grape
Vine with five bunches of grape, two on left, three on right, within linear square; all within incuse square.
348

Alt found: grapes, changed to: grape
Vine with six bunches of grape, three on each side, within linear square; all within incuse square.
349
Alt found: grapes, changed to: grape
Vine with four bunches of grape within linear square; in upper left field, astragalos; all within incuse square.
350
Alt found: grapes, changed to: grape
Vine with four bunches of grape within linear square; in left field, caduceus upwards; all within incuse square.
351
Alt found: grapes, changed to: grape
Vine with four bunches of grape within linear square; in left field, grain ear upwards; all within incuse square.
352
353
Alt found: grapes, changed to: grape
Vine with three bunches of grape within linear square; in left field, turtle; all within incuse square.
354
Alt found: wings, changed to: wing
Griffin advancing left, right forepaw slightly raised, with feathered wing and slightly open beak; to left, star of eight rays, with a dot between the rays. Groundline. Border of dots.
Alt found: rays, changed to: ray
Griffin advancing left, right forepaw slightly raised, with feathered wing and slightly open beak; to left, star of eight ray, with a dot between the ray. Groundline. Border of dots.
Alt found: feathered, changed to: feather
Griffin advancing left, right forepaw slightly raised, with feather wing and slightly open beak; to left, star of eight ray, with a dot between the ray. Groundline. Border of dots.
355
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak. Ground line.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak. Ground line.
356
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak with tongue protruding.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak with tongue protruding.
357
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak.
358
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak. Above grain corn.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak. Above grain corn.
359
Alt found: male, changed to: man
Griffin leaping left, forepart and forpaws raised, with feathered wings, tail curling and open beak. Above, man head, right.
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak. Above, man head, right.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak. Above, man head, right.
360
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail curling and open beak. Above tail, scallop shell.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail curling and open beak. Above tail, scallop shell.
361
Alt found: wings, changed to: wing
Griffin leaping left, forepart and forpaws raised, with feathered wing, tail under hindlegs and closed beak.
Alt found: feathered, changed to: feather
Griffin leaping left, forepart and forpaws raised, with feather wing, tail under hindlegs and closed beak.
362
Alt found: wings, changed to: wing
Griffin lying left, forepaws raised, with feathered wing, tail curling and closed beak.
Alt found: feathered, changed to: feather
Griffin lying left, forepaws raised, with feather wing, tail curling and closed beak.
363
Alt found: wings, changed to: wing
Griffin lying left, right forepaw raised, with feathered wing, tail curling and closed beak.
Alt found: feathered, changed to: feather
Griffin lying left, right forepaw raised, with feather wing, tail curling and closed beak.
364
Alt found: wings, changed to: wing
Griffin lying left, right forepaw raised, with feathered wing, tail under hindlegs and closed beak. Ground line.
Alt found: feathered, changed to: feather
Griffin lying left, right forepaw raised, with feather wing, tail under hindlegs and closed beak. Ground line.
365
Alt found: wings, changed to: wing
Griffin lying right, left forepaw raised, with feathered wing, tail under hindlegs and closed beak. Ground line.
Alt found: feathered, changed to: feather
Griffin lying right, left forepaw raised, with feather wing, tail under hindlegs and closed beak. Ground line.
366
Alt found: wings, changed to: wing
Griffin lying left on club, left, with feathered wing, tail curling and open beak.
Alt found: feathered, changed to: feather
Griffin lying left on club, left, with feather wing, tail curling and open beak.
367
Alt found: wings, changed to: wing
Griffin seated left, right forepaw raised, with feathered wing, tail curling and closed beak.
Alt found: feathered, changed to: feather
Griffin seated left, right forepaw raised, with feather wing, tail curling and closed beak.
368
Alt found: wings, changed to: wing
Griffin seated left, right forepaw raised, with palmette-like curved upwards wing, tail curling and open beak with tongue protruding.
369
Alt found: wings, changed to: wing
Griffin seated left, right forepaw raised, with plain curved wing, tail curling and open beak with tongue protruding.
370
Alt found: wings, changed to: wing
Griffin seated left on tunny, left, right forepaw raised, with palmette-like upwards curved wing, tail curling and open beak with tongue protruding.
371
Alt found: wings, changed to: wing
Griffin seated left, right forepaw raised, with palmette-like curved upwards wing, tail curling and open beak with tongue protruding; to left, cicada downwards. Border of dots.
372
Alt found: feathered, changed to: feather
Griffin seated left, with feather wings, second wing to be seen in background, with tail curling and closed beak; to left, fly. Border of dots.
373
Alt found: wings, changed to: wing
Griffin standing left, right forepaw raised, with feathered wing, tail under hindlegs and closed beak. Ground line.
Alt found: feathered, changed to: feather
Griffin standing left, right forepaw raised, with feather wing, tail under hindlegs and closed beak. Ground line.
374
Alt found: wings, changed to: wing
Griffin standing left, right forepaw raised, with palmette-like curved upwards wing and open beak; in front, eagle flying right.
375
Alt found: sceptre, changed to: scepter
Hades-Serapis enthroned left, wearing kalathos, holding patera in outstretched right hand, left resting on scepter.
Alt found: enthroned, changed to: throne
Hades-Serapis throne left, wearing kalathos, holding patera in outstretched right hand, left resting on scepter.
376
Alt found: sceptre, changed to: scepter
Hades-Serapis enthroned left, extending right hand over Cerberus, left, holding scepter in left arm. Border of dots.
Alt found: enthroned, changed to: throne
Hades-Serapis throne left, extending right hand over Cerberus, left, holding scepter in left arm. Border of dots.
377
378
379
Alt found: ears, changed to: ear
Headdress of Isis between two crossed ear of corn; all within laurel wreath bound at the bottom.
380
Alt found: arms, changed to: arm
Helios standing in quadriga, facing, with arm raised.
381
382
383
Alt found: garlanded, changed to: garland
Veiled Hera standing facing, head left, wearing stephane, holding patera in outstretched right hand over lighted and garland altar, left resting on long sceptre. Ground line. Border of dots.
Alt found: sceptre, changed to: scepter
Veiled Hera standing facing, head left, wearing stephane, holding patera in outstretched right hand over lighted and garland altar, left resting on long scepter. Ground line. Border of dots.
Alt found: stephane, changed to: stefane
Veiled Hera standing facing, head left, wearing stefane, holding patera in outstretched right hand over lighted and garland altar, left resting on long scepter. Ground line. Border of dots.
Alt found: Veiled, changed to: Veil
Veil Hera standing facing, head left, wearing stefane, holding patera in outstretched right hand over lighted and garland altar, left resting on long scepter. Ground line. Border of dots.
384

Alt found: sceptre, changed to: scepter
Hera standing facing, head left, holding patera in outstretched right hand, left resting on scepter. Ground line. Border of dots.
385
Alt found: sceptre, changed to: scepter
Veiled Hera standing facing, head left, wearing stephane and long garment, holding patera in outstretched right hand, left resting on long scepter. Ground line. Border of dots.
Alt found: stephane, changed to: stefane
Veiled Hera standing facing, head left, wearing stefane and long garment, holding patera in outstretched right hand, left resting on long scepter. Ground line. Border of dots.
Alt found: Veiled, changed to: Veil
Veil Hera standing facing, head left, wearing stefane and long garment, holding patera in outstretched right hand, left resting on long scepter. Ground line. Border of dots.
386
Alt found: fillets, changed to: fillet
Veiled Hera (Samios) standing left, wearing kalathos, resting both hands on pelleted fillet.
Alt found: Veiled, changed to: Veil
Veil Hera (Samios) standing left, wearing kalathos, resting both hands on pelleted fillet.
Alt found: hands, changed to: hand
Veil Hera (Samios) standing left, wearing kalathos, resting both hand on pelleted fillet.
387
388
389
390
391
392
393
Alt found: knotted, changed to: knot
Head of Heracles, right, wearing lion skin, knot around neck.
394
395
396
397
398
399
Alt found: horns, changed to: horn
Nude Heracles advancing right, lion skin over left arm, grasping with right hand the horn of the uprising Cretan Bull, strangling it with left arm.
400
Alt found: knees, changed to: knee
Heracles with Diomedes and horses; in the middle, Heracles standing left, head right, brandishing club in raised right hand and grasping Diomedes, fallen on his knee to right, by the head with left hand; to left, horse running right, below, wheel; to right, three horses to right, lowest one fallen, upper one pouncing right.
401
402
Alt found: apples, changed to: apple
Nude bearded Heracles standing facing, head right, holding club in right hand, lion skin over left arm and apple of the Hesperides in left hand; at right, serpent (Ladon) coiling around tree, at right, Hesperide standing facing, head left.
403
404
405
Alt found: hands, changed to: hand
Nude Heracles standing left, strangling in both hand the attacking Nemean lion to right, head left.
406
Alt found: hands, changed to: hand
Nude Heracles standing left, strangling in both hand the attacking Nemean lion, right.
407
408
Alt found: hands, changed to: hand
Nude bearded Heracles standing right, strangling in both hand the attacking Nemean lion, left; in exergue, club.
409
Alt found: hands, changed to: hand
Nude bearded Heracles standing right, strangling in both hand the attacking Nemean lion, left; at left, club.
410
Alt found: hands, changed to: hand
Nude Heracles youthful standing right, strangling in both hand the attacking Nemean lion to left.
411
412
413
414
415
416
417
Alt found: female, changed to: woman
Heracles advancing left, holding transverse lit torch in outstretched right hand and club and lion skin in left arm; in background, column with statue of standing woman figure holding staff; two small Erotes, first at base of column, right, second at Heracles' left leg, left.
418
419
420
421
Alt found: garlanded, changed to: garland
Nude bearded Heracles standing facing, crowning himself with right hand, holding club and lion skin in left; at left, tree on which hang bow and quiver; lighted and garland altar to right.
422
423
Alt found: winged, changed to: wing
Draped bust of Hermes, right, wearing wing taenia.
424
425
426
427
428
429
430
431
432
433
Alt found: winged, changed to: wing
Head of Hermes, right, wearing wing petasus; transverse caduceus behind.
434
435
436
437
438
Alt found: winged, changed to: wing
Head of Hermes, right, wearing wing petasus; in front of him caduceus.
439
Alt found: winged, changed to: wing
Head of Hermes, right, wearing wing petasus.
440
441
442
443
444
445
446
Alt found: astragalus, changed to: astragal
Hermes standing right, wearing petasus and chlamys fixed over right shoulder, extending left hand; to right, astragal; all within shallow incuse square.
447
448
449
Alt found: winged, changed to: wing
Cult image of Hermes Perpheraios on throne to left, its high back in a knob, its armrest ending in a ram's head (supported by a wing sphinx, left); in the left field, forpart of a goat, right.
450
Alt found: sceptre, changed to: scepter
Kore of Cyzicus and Homonoia standing besides an altar; Kore of Cyzicus standing right, holding patera in outstretched right hand over altar and scepter in left arm; Homonoia standing facing, head left, holding patera in outstretched right hand over the altar and cornucopia in left arm.
451
452
Alt found: garlanded, changed to: garland
Homonoia standing facing, head left, holding patera in outstretched right hand over lighted and garland altar and cornucopia in left arm.
453
454
455
Alt found: garlanded, changed to: garland
Homonoia standing facing, head left, wearing kalathos and long garment, holding patera in outstretched right hand over lighted and garland altar and cornucopia in left arm. Ground line. Border of dots.
456
Alt found: garlanded, changed to: garland
Homonoia standing facing, head left, wearing kalathos, holding patera in outstretched right hand over lighted and garland altar and cornucopia in left arm. Ground line. Border of dots.
457
Alt found: feet, changed to: foot
Demeter and Homonoia; inbetween, altar; to left, Demeter standing right, holding ears of corn in left hand, at her foot, cista mystica; to right, Homonoia standing left, wearing kalathos, holding patera and cornucopia.
Alt found: ears, changed to: ear
Demeter and Homonoia; inbetween, altar; to left, Demeter standing right, holding ear of corn in left hand, at her foot, cista mystica; to right, Homonoia standing left, wearing kalathos, holding patera and cornucopia.
458
459
460
461
462
463
464
465
466
467
Alt found: foreparts, changed to: forepart
Two conjoined forepart of prancing horses.
Alt found: horses, changed to: horse
Two conjoined forepart of prancing horse.
468
469
470
471
472
473
474
475
Alt found: wings, changed to: wing
Bridled horse prancing left, loose rein passing over back and trailing below; above, eagle standing left with wing closed.
476
477
478
479
Alt found: silen, changed to: satyr
Horse prancing left; above, bearded head of a satyr to left. Border of dots.
480
Alt found: rays, changed to: ray
Horse prancing left; above, star with eight ray. Border of dots.
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499